$primary-color: #FDFFE3
$secondary-color: #000000

// Add the light botw font, thanks to /u/75thTrombone for sharing
@font-face
  font-family: CalamityRegular
  src: url("../fonts/Calamity-Regular.eot")
  src: url("../fonts/Calamity-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Calamity-Regular.woff") format("woff"), url("../fonts/Calamity-Regular.ttf") format("truetype"), url("../fonts/Calamity-Regular.svg#svgFontName") format("svg")

// Add the bold botw font, thanks to /u/75thTrombone for sharing
@font-face
  font-family: CalamityBold
  src: url("../fonts/Calamity-Bold.eot")
  src: url("../fonts/Calamity-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Calamity-Bold.woff") format("woff"), url("../fonts/Calamity-Bold.ttf") format("truetype"), url("../fonts/Calamity-Bold.svg#svgFontName") format("svg")

// Normalize styles for the document
body, html
  height: 100%
  width: 100%

*
  margin: 0
  padding: 0

// Start the styles for the loading screen
#loading-container
  #top-wipe
    position: absolute
    top: 0
    right: 0
    width: 150px
    height: 38%
    margin-right: -20px
    background-image: linear-gradient(to right, $secondary-color, $primary-color)
    transform: skewX(7deg)
  background-color: $secondary-color
  height: 100%
  #top-load-section
    width: 0
    height: 38%
    float: right
    background-color: $primary-color
    // Content for the top part of the loading screen
    #top-content
      height: 100%
      position: relative
      #loading-title
        opacity: 0
        position: absolute
        bottom: 0
        left: 40px
        font-size: 20px
        padding-bottom: 10px
        font-family: CalamityBold
      // hearts, stamina, koroks, shrines, rupees
      #statistics
        opacity: 0
        float: right
        text-align: right
        height: 100%
        padding: 33px 45px 0 0
        .statistic
          font-family: CalamityRegular
          text-align: right
          line-height: 28px
          height: 28px
          display: flex
          justify-content: flex-end
          align-content: center
          flex-direction: row
          .stat-img-con
            text-align: center
            width: 35px
        #hearts
          width: 260px
          padding-right: 8px
          margin: 0 !important
          img
            width: 13px
            height: auto
        #stamina
          padding-right: 6px
          img
            height: 20px
            width: auto
        #spirit-orbs img
          height: 24px
          width: auto
        #shrine img
          height: 26px
          width: auto
        #korok img
          height: 18px
          width: auto
        #rupee img
          height: 22px
          width: auto
      // Placement of the divine beast icons
      #divine-beasts
        opacity: 0
        position: absolute
        bottom: 0
        right: 45px
        img
          vertical-align: bottom
        #vah-medoh
          height: 55px
          width: auto
          padding-left: 28px
        #vah-naboris
          height: 55px
          width: auto
          padding-left: 26px
        #vah-rudania
          height: 55px
          width: auto
          padding-left: 28px
        #vah-ruta
          height: 55px
          width: auto
          padding-left: 10px

  // Styles for the bottom of the loading screen
  #bottom-load-section
    height: 62%
    background-color: $secondary-color
    color: #fff
    clear: both
    #bottom-content
      height: 100%
      position: relative
      #loading-description
        opacity: 0
        padding-top: 13px
        position: absolute
        top: 0
        left: 40px
        max-width: 50%
        font-size: 18px
        font-family: CalamityBold
        line-height: 1.5em
      #next-tip
        opacity: 0
        padding-top: 10px
        position: absolute
        top: 0
        right: 50px
        font-family: CalamityBold
        height: 25px
        display: flex
        justify-content: flex-end
        align-content: center
        flex-direction: row
        #a-button
          display: inline
          height: 18px
          width: auto
      // LoZ botw logo in the bottom right
      #loading-logo
        opacity: 0
        img
          position: absolute
          bottom: 34px
          right: 48px
          height: 173px
          width: auto
        #load-logo
          display: block
          z-index: 8
        #load-overlay
          display: block
          z-index: 9
          background: #fff

// CSS for the triforce loading icon
#tri-loader
  position: absolute
  left: 48px
  bottom: 56px
  //display: none
  .circle
    width: 6px
    height: 6px
    background-color: #fff
    border-radius: 50%
    -webkit-border-radius: 50%
    position: absolute
    animation: tri-load .75s infinite
    -webkit-animation: tri-load .75s infinite
  #circle1, #circle4, #circle5
    animation-delay: .375s
    -webkit-animation-delay: .375s

  // top circle
  #circle1
    left: 7px
  // top left
  #circle2
    top: 5px
  // top right
  #circle3
    top: 5px
    left: 14px
  // bottom left
  #circle4
    top: 12px
  // bottom right
  #circle5
    top: 12px
    left: 14px
  // bottom circle
  #circle6
    top: 17px
    left: 7px

/* Safari 4.0 - 8.0
@-webkit-keyframes tri-load
  0%
    transform: scale(1)
  50%
    transform: scale(.5)
  100%
    transform: scale(1)

@keyframes tri-load
  0%
    transform: scale(1)
  50%
    transform: scale(.5)
  100%
    transform: scale(1)
