$primary-color: #FDFFE3
$secondary-color: #000000

body, html
  height: 100%
  width: 100%

*
  margin: 0
  padding: 0

#loading-container
  height: 100%
  #top-load-section
    height: 38%
    background-color: $primary-color
    #top-content
      height: 100%
      position: relative
      #loading-title
        position: absolute
        bottom: 0
        left: 40px
      #statistics
        float: right
        text-align: right
        height: 100%
        padding-right: 40px
        #hearts
          width: 290px
          margin: 0 !important
          img
            width: 15px
            height: auto
        #stamina img
          width: 18px
          height: auto
        #spirit-orbs img, #shrine img
          width: 20px
          height: auto
          padding-left: 5px
        #korok img
          width: 18px
          height: auto
          padding-left: 6px
        #rupee img
          width: 14px
          position: relative
          right: 2px
          height: auto
          padding-left: 8px
      #divine-beasts
        position: absolute
        bottom: 0
        right: 40px
        #vah-medoh
          height: 55px
          width: auto
        #vah-naboris
          height: 55px
          width: auto
        #vah-rudania
          height: 55px
          width: auto
        #vah-ruta
          height: 55px
          width: auto



  #bottom-load-section
    height: 62%
    background-color: $secondary-color
    color: #fff
