@font-face {
  font-family: CalamityRegular;
  src: url("../fonts/Calamity-Regular.eot");
  src: url("../fonts/Calamity-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Calamity-Regular.woff") format("woff"), url("../fonts/Calamity-Regular.ttf") format("truetype"), url("../fonts/Calamity-Regular.svg#svgFontName") format("svg");
}
@font-face {
  font-family: CalamityBold;
  src: url("../fonts/Calamity-Bold.eot");
  src: url("../fonts/Calamity-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Calamity-Bold.woff") format("woff"), url("../fonts/Calamity-Bold.ttf") format("truetype"), url("../fonts/Calamity-Bold.svg#svgFontName") format("svg");
}
body, html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#loading-container {
  height: 100%;
}
#loading-container #top-load-section {
  height: 38%;
  background-color: #FDFFE3;
}
#loading-container #top-load-section #top-content {
  height: 100%;
  position: relative;
}
#loading-container #top-load-section #top-content #loading-title {
  position: absolute;
  bottom: 0;
  left: 48px;
  font-family: CalamityBold;
}
#loading-container #top-load-section #top-content #statistics {
  float: right;
  text-align: right;
  height: 100%;
  padding: 33px 48px 0 0;
}
#loading-container #top-load-section #top-content #statistics span {
  font-size: 14px;
  font-family: CalamityRegular;
}
#loading-container #top-load-section #top-content #statistics #hearts {
  width: 260px;
  margin: 0 !important;
}
#loading-container #top-load-section #top-content #statistics #hearts img {
  width: 13px;
  height: auto;
}
#loading-container #top-load-section #top-content #statistics #stamina img {
  height: 20px;
  width: auto;
}
#loading-container #top-load-section #top-content #statistics #spirit-orbs img {
  height: 24px;
  width: auto;
  padding-left: 4px;
}
#loading-container #top-load-section #top-content #statistics #shrine img {
  height: 26px;
  width: auto;
  padding-left: 4px;
}
#loading-container #top-load-section #top-content #statistics #korok img {
  height: 18px;
  width: auto;
  padding-left: 6px;
}
#loading-container #top-load-section #top-content #statistics #rupee img {
  height: 22px;
  position: relative;
  right: 2px;
  width: auto;
  padding-left: 9px;
}
#loading-container #top-load-section #top-content #divine-beasts {
  position: absolute;
  bottom: 0;
  right: 40px;
}
#loading-container #top-load-section #top-content #divine-beasts #vah-medoh {
  height: 55px;
  width: auto;
}
#loading-container #top-load-section #top-content #divine-beasts #vah-naboris {
  height: 55px;
  width: auto;
}
#loading-container #top-load-section #top-content #divine-beasts #vah-rudania {
  height: 55px;
  width: auto;
}
#loading-container #top-load-section #top-content #divine-beasts #vah-ruta {
  height: 55px;
  width: auto;
}
#loading-container #bottom-load-section {
  height: 62%;
  background-color: #000000;
  color: #fff;
}
#loading-container #bottom-load-section #bottom-content {
  height: 100%;
  position: relative;
}
#loading-container #bottom-load-section #bottom-content #loading-description {
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 48px;
  max-width: 50%;
  font-family: CalamityBold;
}
#loading-container #bottom-load-section #bottom-content #next-tip {
  padding-top: 10px;
  position: absolute;
  top: 0;
  right: 40px;
  font-family: CalamityBold;
}
#loading-container #bottom-load-section #bottom-content #next-tip #a-button {
  display: inline;
  height: 18px;
  width: auto;
}
#loading-container #bottom-load-section #bottom-content #loading-logo img {
  position: absolute;
  bottom: 34px;
  right: 48px;
  width: 221px;
  height: auto;
}
#loading-container #bottom-load-section #bottom-content #loading-logo #load-logo {
  display: block;
  z-index: 8;
}
#loading-container #bottom-load-section #bottom-content #loading-logo #load-overlay {
  display: block;
  z-index: 9;
  background: #fff;
}

/*# sourceMappingURL=styles.css.map */
