body, html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#loading-container {
  height: 100%;
}
#loading-container #top-load-section {
  height: 38%;
  background-color: #FDFFE3;
}
#loading-container #top-load-section #top-content {
  height: 100%;
  position: relative;
}
#loading-container #top-load-section #top-content #loading-title {
  position: absolute;
  bottom: 0;
  left: 40px;
}
#loading-container #top-load-section #top-content #statistics {
  float: right;
  text-align: right;
  height: 100%;
  padding: 25px 40px 0 0;
}
#loading-container #top-load-section #top-content #statistics #hearts {
  width: 290px;
  margin: 0 !important;
}
#loading-container #top-load-section #top-content #statistics #hearts img {
  width: 15px;
  height: auto;
}
#loading-container #top-load-section #top-content #statistics #stamina img {
  width: 18px;
  height: auto;
}
#loading-container #top-load-section #top-content #statistics #spirit-orbs img, #loading-container #top-load-section #top-content #statistics #shrine img {
  width: 20px;
  height: auto;
  padding-left: 5px;
}
#loading-container #top-load-section #top-content #statistics #korok img {
  width: 18px;
  height: auto;
  padding-left: 6px;
}
#loading-container #top-load-section #top-content #statistics #rupee img {
  width: 14px;
  position: relative;
  right: 2px;
  height: auto;
  padding-left: 8px;
}
#loading-container #top-load-section #top-content #divine-beasts {
  position: absolute;
  bottom: 0;
  right: 40px;
}
#loading-container #top-load-section #top-content #divine-beasts #vah-medoh {
  height: 55px;
  width: auto;
}
#loading-container #top-load-section #top-content #divine-beasts #vah-naboris {
  height: 55px;
  width: auto;
}
#loading-container #top-load-section #top-content #divine-beasts #vah-rudania {
  height: 55px;
  width: auto;
}
#loading-container #top-load-section #top-content #divine-beasts #vah-ruta {
  height: 55px;
  width: auto;
}
#loading-container #bottom-load-section {
  height: 62%;
  background-color: #000000;
  color: #fff;
}
#loading-container #bottom-load-section #bottom-content {
  height: 100%;
  position: relative;
}
#loading-container #bottom-load-section #bottom-content #loading-description {
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 40px;
  max-width: 50%;
}
#loading-container #bottom-load-section #bottom-content #next-tip {
  padding-top: 10px;
  position: absolute;
  top: 0;
  right: 40px;
}
#loading-container #bottom-load-section #bottom-content #next-tip #a-button {
  display: inline;
  height: 18px;
  width: auto;
}
#loading-container #bottom-load-section #bottom-content #loading-logo img {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 200px;
  height: auto;
}
#loading-container #bottom-load-section #bottom-content #loading-logo #load-logo {
  display: block;
  z-index: 8;
}
#loading-container #bottom-load-section #bottom-content #loading-logo #load-overlay {
  display: block;
  z-index: 9;
  background: #fff;
}

/*# sourceMappingURL=styles.css.map */
